<div class="container">
    <span class="title header">Categories</span>
</div>

<div *ngIf="auth.isExecutiveProducer()" class="container">
    <button mat-raised-button color="primary" (click)="openForm()">Add New Category</button>
</div>

<div *ngIf="auth.isCastingAssistant()">
  <div *ngFor="let category of Object.keys(categoryService.items)" class="card_container_col_3">
      <div class="container">
        <mat-card>
          <mat-card-content>
              <mat-card-title>{{ categoryService.items[category].name }}</mat-card-title>
          </mat-card-content>
          <mat-card-actions>
            <button 
              *ngIf="auth.isExecutiveProducer()" 
              mat-stroked-button color="primary" 
              (click)="openForm(categoryService.items[category])">
              Edit
            </button>
            <button 
              *ngIf="auth.isExecutiveProducer()" 
              mat-stroked-button color="warn" 
              (click)="onDelete(categoryService.items[category])">
              Delete
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
  </div>
</div>