<div class="container">
    <span class="title header">Welcome to Casting Agency website</span>
</div>
<div class="container">
    <span class="title">This is the Udacity FullStack Nanodegree capstone project</span>
</div>
<div class="container">
    <mat-card>
      <mat-card-content>
            <mat-card-title>Abstraction</mat-card-title>
            <p>
                The Casting Agnecy Project is a system that user can create movies, create actors and assgin them to movies, and craate movies categories. each user has a role that he/she can only perform certain action based on his/her permission.
                <br/>
                Roles:
            </p>
            <ul>
                <li>
                    Casting Assistant:
                    <ul>
                        <li>View movies, actors, and categories</li>
                    </ul>
                </li>
                <li>
                    Casting Director:
                    <ul>
                        <li>Same as Casting Assistant permission</li>
                        <li>Add, modify, and delete actors</li>
                        <li>Modify movies</li>
                    </ul>
                </li>
                <li>
                    Executive Producer: 
                    <ul>
                        <li>Same as Casting Director permissions</li>
                        <li>Add, delete movies</li>
                    </ul>
                </li>
            </ul>
            <br/>
            <p>
                The motivation of this project is to practice the skills learned during the Udacity FullStack NanoDegree program 
                including 
            </p>
            <ul>
                <li>
                    Create, Read, Update, Delete (CRUD) 
                    from database (<a href="https://www.postgresql.org/">PostgresSQL</a>) using 
                    <a href="https://flask-sqlalchemy.palletsprojects.com/en/2.x/">SQLAlchemy ORM</a>.
                </li>
                <li>RESTful - API Using <a href="https://flask.palletsprojects.com/en/1.1.x/">Flask</a></li>
                <li>Authentication (Login, Permission, Roles) Using <a href="https://auth0.com/">Auth0</a></li>
                <li>Deploying the project using <a href="https://www.heroku.com">Heroku</a></li>
            </ul>
      </mat-card-content>
    </mat-card>
  </div>